// bower:scss
// endbower
nav {
    .col {
        padding: 0 0.75rem;
    }
}
.connect_form {
    position: relative;
    float: left;
    width: 40%;
    margin-left: 30%;
}
.messages {
    float: left;
    width: 40%;
    margin-left: 10%;
}
.compose_message {
    float: left;
    width: 40%;
    position: relative;
    margin-left: 5%;
}
.message-author {
    float: right;
    font-size: 0.75em;
    margin-bottom: -0.5em;
}
